<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="css/rem.js"></script>
    <link rel="stylesheet" href="css/dianpu.css">
    <link rel="stylesheet" href="http:////at.alicdn.com/t/font_286960_rzhh8n736o7mbo6r.css">
</head>
<body>
    <header>
        <div class="fanhui">&lt;</div>
        <div class="header-center">
            
             <img src="img/10.jpeg" alt="" class="headertu">
        
            <div class="jianjie">
                <h3>老太原菜馆（府西街店）</h3>
                <p>蜂鸟专送 / 27分钟送达 / 配送费¥3</p>
                <p>公告：
            欢迎光临，用餐高峰期请提前下单。</p>
            </div>
        </div>
        <div class="youhui">
            <span class="span1">新</span>
            <span>新用户下单立减19.0元(不与其它活动同享)</span>
        </div>
    </header>

    <!-- 列表 -->
    <ul class="liebiao">
        <li><a href="" class="active">商品</a></li>
        <li><a href="">评价</a></li>
        <li><a href="">店铺</a></li>
    </ul>

    <!-- 分类 -->
    <div class="xia">
        <ul class="fenlei">
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
            <li>热销</li>
        </ul>
        <ul class="caipin">
            <p>
               <span class="span2">热销</span>
               <span>大家喜欢吃，才叫真好吃。</span>
               <span class="span3">...</span>
            </p>
            <li>
                <div class="caipintu">
                    <img src="img/11.jpeg" alt="">
                </div>
                
                <div class="caipinjs">
                   <p>
                     <span class="span4">糖醋丸子</span>
                     <span class="span5">招牌</span>
                   </p>
                   <p>月售102份 好评率95%</p>
                   <p>
                       <span class="span6">￥18</span>
                       <span>起</span>
                       <span>选规格</span>
                   </p>
                </div>
            </li>
              <li>
                <div class="caipintu">
                    <img src="img/11.jpeg" alt="">
                </div>
                
                <div class="caipinjs">
                   <p>
                     <span class="span4">糖醋丸子</span>
                     <span class="span5">招牌</span>
                   </p>
                   <p>月售102份 好评率95%</p>
                   <p>
                       <span class="span6">￥18</span>
                       <span>起</span>
                       <span>选规格</span>
                   </p>
                </div>
            </li>
              <li>
                <div class="caipintu">
                    <img src="img/11.jpeg" alt="">
                </div>
                
                <div class="caipinjs">
                   <p>
                     <span class="span4">糖醋丸子</span>
                     <span class="span5">招牌</span>
                   </p>
                   <p>月售102份 好评率95%</p>
                   <p>
                       <span class="span6">￥18</span>
                       <span>起</span>
                       <span>选规格</span>
                   </p>
                </div>
            </li>
              <li>
                <div class="caipintu">
                    <img src="img/11.jpeg" alt="">
                </div>
                
                <div class="caipinjs">
                   <p>
                     <span class="span4">糖醋丸子</span>
                     <span class="span5">招牌</span>
                   </p>
                   <p>月售102份 好评率95%</p>
                   <p>
                       <span class="span6">￥18</span>
                       <span>起</span>
                       <span>选规格</span>
                   </p>
                </div>
            </li>
              <li>
                <div class="caipintu">
                    <img src="img/11.jpeg" alt="">
                </div>
                
                <div class="caipinjs">
                   <p>
                     <span class="span4">糖醋丸子</span>
                     <span class="span5">招牌</span>
                   </p>
                   <p>月售102份 好评率95%</p>
                   <p>
                       <span class="span6">￥18</span>
                       <span>起</span>
                       <span>选规格</span>
                   </p>
                </div>
            </li>
        </ul>
    </div>

    <!-- 结束 -->
    <div class="end">
        <div class="qian">
            <h3>¥0</h3>
            <p>配送费¥7</p>
        </div>
        <div class="qisong">¥55起送</div>
    </div>
    <div class="icon-gouwucheman car"></div>
</body>
</html>