<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="css/rem.js"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_345842_5qa6z9inl9olmcxr.css">
</head>
<body>
<!--头部开始-->
    <header>
        <div class="dizhi">
            <span>黄浦区上海市委(人民大道北)</span>
        </div>
        <input type="text" class="sousuo" placeholder="搜索商家、商品">
        <ul class="tuijian">
            <li>
                大盘鸡
            </li>
            <li>
                黑胡椒牛肉
            </li>
            <li>
                重庆麻辣烫
            </li>
            <li>
                麦当劳3折起
            </li>
            <li>
                健身餐
            </li>
        </ul>
    </header>
<!--头部结束-->
<!--列表开始-->
    <ul class="liebiao">
        <li>
            <img src="img/1.jpeg" alt="">
            <div class="wenzi"><span>美食</span></div>
        </li>
        <li>
            <img src="img/2.jpeg" alt="">
            <div class="wenzi"><span>甜品饮品</span></div>
        </li>
        <li>
            <img src="img/3.jpeg" alt="">
            <div class="wenzi"><span>商超便利</span></div>
        </li>
        <li>
            <img src="img/4.jpeg" alt="">
            <div class="wenzi"><span>预订早餐</span></div>
        </li>
        <li>
            <img src="img/5.jpeg" alt="">
            <div class="wenzi"><span>果蔬生鲜</span></div>
        </li>
        <li>
            <img src="img/6.jpeg" alt="">
            <div class="wenzi"><span>大牌满减</span></div>
        </li>
        <li>
            <img src="img/7.jpeg" alt="">
            <div class="wenzi"><span>准时达</span></div>
        </li>
        <li>
            <img src="img/8.jpeg" alt="">
            <div class="wenzi"><span>夜宵</span></div>
        </li>
    </ul>
<!--列表结束-->
<!--推荐开始-->
    <span class="tuijian "><b>商家推荐</b></span>
    <div class="biao">
      <div class="tupian">
        <img src="img/9.jpeg" alt="" class="logo">
      </div>  
        <div class="xiangxi">
        <p class="canting"><b>上海麦当劳仙乐斯餐厅</b></p>
        <p class="ping">
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing iscon-xing"></span>
            <span class="fen"><b> &nbsp4.7</b></span>
            <span class="shumu">月售2471单</span>
        </p>
        <p class="feiyong">
            <span class="pei">￥0元起送</span>
            <span class="fei">配送费￥9</span>
            <span class="lucheng">469M/36分钟</span>
        </p>
        <p class="fan">
        <span  class="jian">减</span>
        <span class="youhui">满65减10</span>
        </p>
        <p class="new">
        <span  class="xin">新</span>
        <span class="yonghu">新用户下单立减17元</span>
        </p>
        </div>
    </div>

    <div class="biao">
      <div class="tupian">
        <img src="img/9.jpeg" alt="" class="logo">
      </div>  
        <div class="xiangxi">
        <p class="canting"><b>上海麦当劳仙乐斯餐厅</b></p>
        <p class="ping">
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing iscon-xing"></span>
            <span class="fen"><b> &nbsp4.7</b></span>
            <span class="shumu">月售2471单</span>
        </p>
        <p class="feiyong">
            <span class="pei">￥0元起送</span>
            <span class="fei">配送费￥9</span>
            <span class="lucheng">469M/36分钟</span>
        </p>
        <p class="fan">
        <span  class="jian">减</span>
        <span class="youhui">满65减10</span>
        </p>
        <p class="new">
        <span  class="xin">新</span>
        <span class="yonghu">新用户下单立减17元</span>
        </p>
        </div>
    </div>

    <div class="biao">
      <div class="tupian">
        <img src="img/9.jpeg" alt="" class="logo">
      </div>  
        <div class="xiangxi">
        <p class="canting"><b>上海麦当劳仙乐斯餐厅</b></p>
        <p class="ping">
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing iscon-xing"></span>
            <span class="fen"><b> &nbsp4.7</b></span>
            <span class="shumu">月售2471单</span>
        </p>
        <p class="feiyong">
            <span class="pei">￥0元起送</span>
            <span class="fei">配送费￥9</span>
            <span class="lucheng">469M/36分钟</span>
        </p>
        <p class="fan">
        <span  class="jian">减</span>
        <span class="youhui">满65减10</span>
        </p>
        <p class="new">
        <span  class="xin">新</span>
        <span class="yonghu">新用户下单立减17元</span>
        </p>
        </div>
    </div>

    <div class="biao">
      <div class="tupian">
        <img src="img/9.jpeg" alt="" class="logo">
      </div>  
        <div class="xiangxi">
        <p class="canting"><b>上海麦当劳仙乐斯餐厅</b></p>
        <p class="ping">
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing iscon-xing"></span>
            <span class="fen"><b> &nbsp4.7</b></span>
            <span class="shumu">月售2471单</span>
        </p>
        <p class="feiyong">
            <span class="pei">￥0元起送</span>
            <span class="fei">配送费￥9</span>
            <span class="lucheng">469M/36分钟</span>
        </p>
        <p class="fan">
        <span  class="jian">减</span>
        <span class="youhui">满65减10</span>
        </p>
        <p class="new">
        <span  class="xin">新</span>
        <span class="yonghu">新用户下单立减17元</span>
        </p>
        </div>
    </div>

    <div class="biao">
      <div class="tupian">
        <img src="img/9.jpeg" alt="" class="logo">
      </div>  
        <div class="xiangxi">
        <p class="canting"><b>上海麦当劳仙乐斯餐厅</b></p>
        <p class="ping">
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing icon-xing"></span>
            <span class="xing iscon-xing"></span>
            <span class="fen"><b> &nbsp4.7</b></span>
            <span class="shumu">月售2471单</span>
        </p>
        <p class="feiyong">
            <span class="pei">￥0元起送</span>
            <span class="fei">配送费￥9</span>
            <span class="lucheng">469M/36分钟</span>
        </p>
        <p class="fan">
        <span  class="jian">减</span>
        <span class="youhui">满65减10</span>
        </p>
        <p class="new">
        <span  class="xin">新</span>
        <span class="yonghu">新用户下单立减17元</span>
        </p>
        </div>
    </div>
<!--推荐结束-->
<!-- 底部开始 -->
    <ul class="dibu">
        <li>
            <span class="cai icon-weibiaoti119"></span>
            <div class="wai">外卖</div>
        </li>
        <li>
            <span class="faxian icon-faxian"></span>
            <div class="wai">发现</div>
        </li>
        <li>
            <span class="ding icon-dingdan"></span>
            <div class="wai">菜单</div>
        </li>
        <li>
            <span class="wo icon-wo"></span>
            <div class="wai">我的</div>
        </li>
    </ul>
<!-- 底部结束 -->




</body>
</html>