*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
header{
    width:100%;
    height: auto;
    padding: 10px 15px;
    background: #bcb5c4;
    overflow: hidden;
}
.fanhui{
	font-size:25px;
    color: #fff;
    line-height: 25px;
    font-family: "宋体";
    font-weight: 300;
}
.header-center{
	padding: 10px 0 0;
	display: flex;
}
.headertu{
   width: 1.4rem;
   height: 1.3rem;
   margin-right: 10px;
} 
.jianjie h3{
   font-weight: 300;
   font-size: 17px;
   color: #fff;
   line-height: 17px;
}
.jianjie p{
   font-size: 12px;
   color: #fff;
   line-height: 15px;
   margin: 5px 0;
}
.youhui{
	margin-top: 10px;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
}
.span1{
	background-color: rgb(112, 188, 70);
}
.liebiao{
	display: flex;
	justify-content: space-around;
}
.liebiao li{
	font-size: 15px;
	line-height: 40px;
}
.liebiao li a{
	color: #000;
}
.liebiao li:nth-child(1){
	border-bottom: 3px solid  #3190e8;
}
.active{
	color: #3190e8!important;
}
.xia{
	height: 100%;
	height: auto;
	display: flex;
	margin-bottom: 0.96rem;
}
.fenlei{
    width: 25%;
}
.fenlei li{
	font-size: 14px;
	color: #000;
	text-align: center;
	padding: 0.7rem .1rem;
	border: 1px solid #ededed;
}
.caipin{
	width: 75%;
}
.caipin p{
	width: 100%;
	background: #f1f1f1;
	font-size: 15px;
}
.caipin p .span2{
    font-size: 15px;
    color: #000;
    line-height: 30px;
}
.caipin p span{
	font-size: 12px;
    color: #999;
    line-height: 30px;
}
.caipin p .span3{
	float: right;
	margin-right: 10px;
	font-size: 20px;
	line-height: 24px;
}
.caipin li{
	padding: 15px;
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.caipin li .caipintu{
	width: 20%;
}
.caipin li img{
    width: 1.03rem;
    height: 1.03rem;
}
.caipinjs{
	margin-left: 10px;
	background: #fff;
	width: 80%;
}
.caipinjs p{
	background: #fff;
	width: 100%;
}

.caipinjs p .span4{
	font-size: 20px;
	color: #bcb5c4;
	line-height: 30px;
}
.caipinjs p .span5{
	float: right;
	margin-right: -8px;
    border: 1px solid rgb(236, 156, 104);
    border-radius: 8px;
    color: rgb(236, 156, 104);
    font-size: 12px;
    line-height: 12px;
    padding: 1px 1px;
}
.caipinjs p .span6{
	color: red;
	font-size: 17px;
	line-height: 15px;
}
.end{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: -0.1rem;
	background:  rgba(61,61,63,.9);
	padding-left: 2.5rem;
	display: flex;
}
.qian{
	width: 70%;
}
.qian h3{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.qian p{
	font-size: 12px;
	color: #fff;
}
.qisong{
	font-size: 18px;
	color: #fff;
	margin-top: 10px;
}
.car{
	font-family: iconfont;
	font-size: 30px;
	color: #5f5f63;
	position: fixed;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 2rem;
	border-radius: 50%;
	left: 0.2rem;
	bottom: 0.5rem;
	background-image: radial-gradient(circle,#363636 .626667rem,#444 0);
	border: .0.06rem solid #4f4f50;
	box-shadow: 0 -0.08rem 0.053333rem 0 rgba(0,0,0,.1);
}

